* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(15, 112, 112);
}
.footer{
    text-align: center;
    background-color: bisque;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
